ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 4em;
    vertical-align: center;
}

li {
    float: right;
}
.left {
    float: left;
    font-family: "Georgia", Times, serif;
    font-size: large;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: center;
    padding-top: 1.5em;
}

li a:hover {
    background-color: white;
    color: black;
    padding-top: 1.25em;
    border-top: 0.375em solid #333;
}


.navigationbutton {
    color: #333;
    background-color: whitesmoke;
    height: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    border: 1px solid #333;
  }

  .navigationbutton:hover {
    background-color: #333;
    color: whitesmoke;
    height: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    border: 1px solid #333;
  }