@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  position: fixed;
  left: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

div {
  overflow: auto;
}

.left-element {
  background: whitesmoke;
  display: inline-block;
  float: left;
  width: 20%;
  height: 100%;
  box-shadow: 20px 20px 25px lightgray;
}

.right-element {
  display: inline-block;
  width: 80%;
  height: 100%;
}

.left-element-flip {
  background: white;
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
  box-shadow: 20px 20px 25px lightgray;
}

.right-element-flip {
  background: whitesmoke;
  display: inline-block;
  width: 85%;
  height: 100%;
}

.logo {
  height: 100px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  padding-bottom: 10px;;
}

.sidebarheader {
  margin-top: 2.5em;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.courselist {
  height: 50em;
  text-align: left;
  padding-bottom: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}

.sessionbar {
  height: 35px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.namebar {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.courselistitem {
  border: 1px solid #003459;
  box-shadow: 0 5px 5px 0 lightgray;
  background-color: white;
  color: #003459;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
  height: 20px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  cursor: default;
  border-radius: 10px;
}

.courselistitem:hover {
  background-color: whitesmoke;
  text-align: center;
  margin: auto;
  overflow: hidden;
  cursor: default;
}

.addcourseitem {
  background-color: #003459;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
  height: 20px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  cursor: default;
  border-radius: 10px;
  /* box-shadow: 0 10px 29px 0 rgba(28, 36, 59, 0.1) */
  box-shadow: 0 10px 29px 0 gray;
}

.addcourseitem:hover {
  background-color: #002136;
  /* box-shadow: 0 10px 29px 0 rgba(28, 36, 59, 0.1) */
  box-shadow: 0 10px 29px 0 gray;
}

.moduleitem {
  margin-left: 7em;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 7em;
  max-height: 50px;
  box-shadow: 0 10px 29px 0 rgb(153, 153, 153);
  overflow: hidden;
  border-radius: 10px;
}

.activemoduleitem {
  margin-left: 7em;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 7em;
  max-height: 500px;
  box-shadow: 0 10px 29px 0 rgb(153, 153, 153);
  overflow: hidden;
  border-radius: 10px;
}

.moduletitle {
  background-color: #003459;
  height: 16px;
  color: white;
  font-size: large;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 0.95em;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}

.moduletitle:hover {
  background-color: #002136;
  height: 16px;
  color: white;
  font-size: large;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 0.95em;
  border-radius: 10px 10px 0px 0px;
}

.modulecontents {
  transition: height 0.4s ease-in-out;
  background-color: whitesmoke;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}

.modulecontentitem {
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3em;
  border-bottom: 2px black;
  cursor: pointer;
  border-left: 5px solid white;
  background-color: white;
  font-size: large;
}

.modulecontentitem:hover {
  background-color: rgb(230, 230, 230);
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3em;
  border-left: 5px solid rgb(230, 230, 230);
  border-bottom: 2px black;
  font-size: large;
}

.Vmodulecontentitem {
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3em;
  border-left: 5px solid red;
  border-bottom: 2px black;
  cursor: pointer;
  font-size: large;
}

.Amodulecontentitem {
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;;
  padding-right: 3em;
  border-left: 5px solid blue;
  border-bottom: 2px black;
  cursor: pointer;
  font-size: large;
}

.Rmodulecontentitem {
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3em;
  border-left: 5px solid green;
  border-bottom: 2px black;
  cursor: pointer;
  font-size: large;
}

.Kmodulecontentitem {
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: large;
  padding-right: 3em;
  border-left: 5px solid purple;
  border-bottom: 2px black;
  cursor: pointer;
  font-size: large;
}

.Vmodulecontentitem:hover {
  background-color: lightgrey;
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3em;
  border-left: 5px solid red;
  border-bottom: 2px black;
  font-size: large;
}

.Amodulecontentitem:hover {
  background-color: lightgrey;
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3em;
  border-left: 5px solid blue;
  border-bottom: 2px black;
  font-size: large;
}

.Rmodulecontentitem:hover {
  background-color: lightgrey;
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3em;
  border-left: 5px solid green;
  border-bottom: 2px black;
  font-size: large;
}

.Kmodulecontentitem:hover {
  background-color: lightgrey;
  padding-left: 3em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: large;
  padding-right: 3em;
  border-left: 5px solid purple;
  border-bottom: 2px black;
  cursor: pointer;
}

.leftalign {
	float: left;
}
.rightalign {
	float: right;
}
.rightalignandfloatdown {
  float: right;
  position: relative;
  top: 50px;
  left: 75px;
}
.floatdown {
  position: relative;
  top: 50px;
  left: 75px;
}

.foo {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.purple {
  background: purple;
}

.varkguide {
  display: flex;
  background-color: lightgray;
  margin-left: 7em;
  margin-right: 7em;
}

.varkguideintro {
  min-width: 40%;
  margin-left: 1em;
  font-size: smaller;
}

.varkguideelement {
  min-width: 15%;
  font-size: smaller;
}

.addcourseview {
  margin-left: 7em;
  margin-top: 7em;
  margin-right: 7em;
}

.addcoursetitle {
  color: #003459;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: large;

}

input[type=text] {
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  width: 16.5em;
  transition: width 0.4s ease-in-out;
  border-bottom: 2px solid lightgray;
}

input[type=text]:focus {
  width: 20em;
  border-bottom: 2px solid #003459;
}

input[type=password] {
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  width: 16.5em;
  transition: width 0.4s ease-in-out;
  border-bottom: 2px solid lightgray;
}

input[type=password]:focus {
  width: 20em;
  border-bottom: 2px solid #003459;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #003459;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #002136;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  background-color: #003459;
  border: none;
  color: white;
  padding: 6px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 10px;
}

.courseheader {
  color: #003459;
  padding-top: 2.5em;
  font-size: xx-large;
  padding-left: 5em;
  max-width: 23em;
}

.modaldialog {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
}

h1.modaldialog {
  color: #003459;
}

.widespace {
  line-height: 150%;
}

#backbutton {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: xx-large;
}

a.linkbutton {
  color: #003459;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 10.5em;
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  border: 1px solid #003459;
  border-radius: 10px;
}

a.linkbutton:hover {
  background-color: #003459;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 10.5em;
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  border: 1px solid #003459;
}

.varkprofiletext {
  text-align: right;
  padding-left: 0.5em;
  padding-right: 2em;
  line-height: 70%;
  font-size: medium;
  border-right: 1px solid black;
}

.offsetleft {
  position: relative;
  right: 2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: white; /* Fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, white, white); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(top, white, white); /* For old Firefox (3.6 to 15) */
  background-image: -ms-linear-gradient(top, white, white); /* For pre-releases of Internet Explorer  10*/
  background-image: -o-linear-gradient(top, white, white); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to bottom, white, white); /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #003459;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #003459;
  font-size: medium;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 5em;
  margin-top: 0.51em;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 10px 29px 0 lightgray;
  height: 38px;
}

select:hover {
  color: white;
  background-color: #003459; /* Fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #003459, #003459); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(top, #003459, #003459); /* For old Firefox (3.6 to 15) */
  background-image: -ms-linear-gradient(top, #003459, #003459); /* For pre-releases of Internet Explorer  10*/
  background-image: -o-linear-gradient(top, #003459, #003459); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to bottom, #003459, #003459); /* Standard syntax; must be last */
}

select:active {
  border-radius: 0px;
}

.removecoursebutton {
  color: red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  height: 20px;
  width: 10em;
  font-size: medium;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0 10px 29px 0 lightgray;
}

.option {
  text-align: center;
}

.removecoursebutton:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
  box-shadow: 0 10px 29px 0 lightpink;
}

.teachernotice {
  font-size: large;
}

.leftcontentitem {
  width: 60%;
}

.rightcontentitem {
  width: 40%;
}

input.smallbutton {
  background-color: whitesmoke;
  color: #003459;
  height: 20px;
}

input.smallbutton:hover {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
}

.renamebutton {
  font-size: medium;
  cursor: pointer;
}

.renamebutton:hover {
  font-size: medium;
  cursor: pointer;
  font-weight: bold;
}

.teachermoduletitle {
  background-color: #003459;
  height: 50px;
  color: white;
  font-size: large;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 0.95em;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}

.teachermoduletitle:hover {
  background-color: #002136;
  height: 50px;
  color: white;
  font-size: large;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 0.95em;
  border-radius: 10px 10px 0px 0px;
}

.moduleitemteacher {
  margin-left: 7em;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 7em;
  max-height: 85px;
  box-shadow: 0 10px 29px 0 rgb(153, 153, 153);
  overflow: hidden;
  border-radius: 10px;
}

.activemoduleitemteacher {
  margin-left: 7em;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 7em;
  max-height: fit-content;
  box-shadow: 0 10px 29px 0 rgb(153, 153, 153);
  overflow: hidden;
  border-radius: 10px;
}